//
// Modules -> Accordion
// --------------------------------------------------

.accordion {

  &__item {
    background: white;
    border-top: 1px solid black;
    cursor: pointer;
    transition: all .5s !important;
    &:last-child {
      border-bottom: 1px solid black;
    }

    &:hover {
      border-color: $color-type-2a;
    }

    &.active {
      border-color: $color-type-2a;
      + .accordion__item {
        border-color: $color-type-2a;
      }
      .accordion-head svg {
        transform: rotate(180deg);
        path {
          fill: $color-type-2a;
        }
      }
    }

  }


  &-head {
    font-size: 16px;
    position: relative;
    width: 100%;
    padding: 10px 0;
    @media screen and (min-width: $screen-md-min) {
      display: flex;
      align-items: center;
      padding: 40px 0;
      justify-content: space-between;
    }
    &-arr {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      height: 22px;
      margin: auto;
    }
    &-name {
      margin-bottom: 10px;
      font-size: 16px;
      @media screen and (min-width: $screen-md-min) {
        width: 50%;
        margin-bottom: 0;
        font-size: 22px;
      }
    }
    &-type {
      font-size: 14px;
      @media screen and (min-width: $screen-md-min) {
        width: 25%;
        font-size: 16px;
      }
    }
    &-city {
      font-size: 14px;
      @media screen and (min-width: $screen-md-min) {
        width: 25%;
        font-size: 16px;
      }
    }

    svg {
      transition: transform .5s;
      path {
        transition: fill .5s;
      }
    }
  }

  &-body {
    display: none;

    > div {
      padding: 20px 0;
      @media screen and (min-width: $screen-xl-min) {
        padding: 20px 0 40px;
      }
    }
  }
}
