.filter {
  &-item {
    margin-left: 60px;
    &--main {
      margin-left: auto;
    }
  }
  &-checkbox {
    label {
      color: black;
      display: flex;
      font-weight: 400;
      text-transform: uppercase;
      align-items: center;
      padding-bottom: 10px;
      cursor: pointer;
      transition: color .5s;
      svg {
        margin-right: 10px;
        path {
          transition: fill .5s;
        }
      }
    }
    input {
      display: none;
      &:checked + label {
        color: $color-type-2a;
        path {
          fill: $color-type-2a;
        }
      }
    }
  }
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 80px;
}
