
.loading {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100001;
  transition: opacity .5s, left 0s 1s;
  &.hideIt {
    opacity: 0;
    left: 100%;
  }
}
