.page-about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F6F6F6;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .select-wrapper {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 0;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
      font-size: 30px;
    }
    @media screen and (min-width: $screen-lg-min) {
      font-size: 40px;
      margin-bottom: 100px;
    }
    &::first-line {
      text-indent: 40px;
      @media screen and (min-width: $screen-md-min) {
        text-indent: 200px;
      }
    }

    .span {
      font-family: $base-font-family;
    }
    a {
      color: $color-type-2a;
      border-bottom: 2px solid $color-type-2a;
      font-family: $base-font-family;
      line-height: 1;
      display: inline-block;
    }
  }
}

.about {
  &-main {
    padding: 0 10px;
    background: url("../images/about/N.svg") no-repeat left top 200px;
    @media screen and (min-width: $screen-md-min) {
      padding: 0 20px;
      background: url("../images/about/N.svg") no-repeat left top 400px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 0 100px;
    }
    h1 {
      @media screen and (min-width: $screen-xl-min) {
        padding-left: 170px;
      }
    }
    &__dev {
      max-width: 810px;
      p {
        margin-left: auto;
        margin-bottom: 40px;
        margin-top: 40px;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 110px;
          margin-top: 0;
        }
      }
      img {
        margin-bottom: 10px;
        border-radius: 0px 0px 60px 0px;
      }
    }
    &__sub {
      max-width: 440px;
      p {
        margin-bottom: 40px;
        margin-top: 40px;
        @media screen and (min-width: $screen-lg-min) {
          margin-bottom: 80px;
          margin-top: 0;
        }
        @media screen and (min-width: $screen-xl-min) {
          margin-bottom: 170px;
        }
      }
      img {
        border-radius: 0px 60px 0px 0px;
      }
    }
    p {
      max-width: 440px;
      &::first-line {
        text-indent: 40px;
        @media screen and (min-width: $screen-md-min) {
          text-indent: 100px;
        }
      }
    }
  }

  &-slider {
    margin-bottom: 60px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
    @media screen and (min-width: $screen-xl-min) {
      margin-bottom: 160px;
    }
  }


  &-history {
    color: white;
    background-color: black;
    padding: 20px 10px 80px;
    @media screen and (min-width: $screen-md-min) {
      padding: 20px 20px 80px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 160px 0;
    }

    &-title {
      margin-bottom: 20px;
      font-size: 35px;
      border-top: 1px solid white;
      font-family: $base-font-family-serif;
      text-transform: uppercase;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 40px;
        font-size: 60px;
      }
      .span {
        font-family: $base-font-family;
        font-weight: 400;
      }
    }
    .text--right {
      margin-bottom: 10px;
    }
    .event-video {
      margin-bottom: 80px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 160px;
      }
    }
  }

  &-story {
    padding: 80px 10px 0;
    @media screen and (min-width: $screen-md-min) {
      padding: 80px 20px 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 160px 100px 0;
    }
    p {
      line-height: 1.5;
      &::first-line {
        text-indent: 40px;
        @media screen and (min-width: $screen-md-min) {
          text-indent: 100px;
        }
      }
    }
    .select-wrapper {
      margin-bottom: 0;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 80px;
      }
      @media screen and (min-width: $screen-xl-min) {
        margin-bottom: 160px;
        padding-left: 170px;
      }
    }
    &__dev {
      max-width: 810px;
      img {
        border-radius: 0px 0px 60px 0px;
        margin-bottom: 60px;
        margin-top: 40px;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 100px;
          margin-top: 0;
        }
        @media screen and (min-width: $screen-xl-min) {
          margin-bottom: 200px;
        }
      }
    }
    &__sub {
      max-width: 440px;
      padding-top: 80px;
      @media screen and (min-width: $screen-md-min) {
        padding-top: 100px;
      }
      @media screen and (min-width: $screen-xl-min) {
        padding-top: 200px;
      }
      img {
        border-radius: 0px 60px 0px 0px;
      }
    }
  }
}


.history {
  &-year {
    font-size: 24px;
    color: #9C9C9C;
    line-height: 130%;
    @include transitionEase();
    font-family: $base-font-family-serif;
    @media screen and (min-width: $screen-lg-min) {
      margin-bottom: 100px;
    }
  }

  &-desc {
    line-height: 160%;
    color: #9C9C9C;
    opacity: 0;
    @include transitionEase(opacity, .5s, .3s);
    max-width: 350px;
  }
  &-slider {
    position: relative;
    .swiper-buttons {
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: flex;
      }

      > * {
        position: static;
      }
    }

    &.swiper-container-horizontal > .swiper-scrollbar {
      border-top: 1px dashed #FFFFFF;
    }

    .swiper-slide {
      width: 20%;
      height: 200px;
      @include transitionEase();
      @media screen and (min-width: $screen-md-min) {
        height: 300px;
      }

      &.swiper-slide-active {
        width: 40%;
        .history-year {
          color: white;
          font-size: 60px;
          @media screen and (min-width: $screen-md-min) {
            font-size: 100px;
          }
        }
        .history-desc {
          opacity: 1;
        }
      }
    }
  }
}
