extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block pageName
  - pageName = "custom"

block content
  main.page-contacts
    .m-auto.col__xl-8.col__lg-10(data-aos='fade-up')
      h1.select-wrapper Контакты
    .contacts-list(data-aos='fade-up')
      .contacts-list__item
        .contacts-list__item-name Информационный центр
        .contacts-list__item-desc
          div 123056, Россия, г. Москва, ул. Красина, 21
          div: a(href='tel:84957395765') 8 495 739 57 65
          div: a(href='mailto:info@novikovgroup.ru') info@novikovgroup.ru
      .contacts-list__item
        .contacts-list__item-name Подбор персонала
        .contacts-list__item-desc
          div: a(href='mailto:info@novikovgroup.ru') rabota@novikovgroup.ru
      .contacts-list__item
        .contacts-list__item-name Отдел маркетинга и pr
        .contacts-list__item-desc
          div: a(href='mailto:pr@novikovgroup.ru') pr@novikovgroup.ru
      .contacts-list__item
        .contacts-list__item-name Подарочные сертификаты
        .contacts-list__item-desc
          div: a(href='tel:84956461834') 8 495 646 18 34
      .contacts-list__item
        .contacts-list__item-name Отдел по работе с horeca партнерами: винная карта
        .contacts-list__item-desc
          .text__lg Семен Орехов
          div: a(href='mailto:s.orekhov@novikovgroup.ru') s.orekhov@novikovgroup.ru
    .m-auto.col__xl-8.col__lg-10(data-aos='fade-up')
      h2 Задать вопрос или #[br] оставить пожелание
      .row.between__xs.middle__xs
        .col.col__md-6.col__xs-12
          .form__group: +fieldInput('text', 'name', 'name-c', '', 'Имя', false)
        .col.col__md-6.col__xs-12
          .form__group: +fieldInput('email', 'email', 'email-c', '', 'E–mail*', true)
        .col.col__xs-12
          .form__group: +fieldTextarea('desc', 'desc-v', '', 'Ваш вопрос или пожелание', '5', false)
        .col.col__md-6.col__xs-12
          .checkbox
            input(type="checkbox", id='signIt-c', required)
            label(for='signIt-c')
              | Даю согласание на обработку #[a(href='#') персональных данных]
              .control-error
        .col
          +btnLink('Отправить')



block footer
  include ../partials/_footer.pug
