extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block pageName
  - pageName = "custom"

block content
  main.page-event
    .m-auto.col__xl-8.col__lg-10(data-aos='fade-up')
      h1.select-wrapper события
      .filters(data-aos='fade-up')
        .tab-container.filter
          .filter-global.filter--js
            li.active(data-toggle-target="*") все
            li(data-toggle-target="deg") Дегустации
            li(data-toggle-target="master") Мастер-классы
            li(data-toggle-target="dish") Премьера блюд
            li(data-toggle-target="news") Новости
            li.span
    .row.eventsList(data-aos='fade-up')
      - for (let y = 1; y < 5; y++)
        .col.col__lg-4.col__md-6.col__xs-12.filter__item--js(data-text='deg')
          a.events-item(href='#')
            .events-item-img
              .events-item-line: +img('index/line-1.svg')
              .events-item-logo: +img('index/logo-1.jpg')
              +img('index/event-1.jpg')
            .events-item-title Долгожданная премьера эксклюзивных вин проекта Taste Wine Selection of Fine Wines
            .events-item-date 27.03.2021
        .col.col__lg-4.col__md-6.col__xs-12.filter__item--js(data-text='master')
          a.events-item(href='#')
            .events-item-img
              .events-item-line: +img('index/line-2.svg')
              .events-item-logo: +img('index/logo-2.jpg')
              +img('index/event-2.jpg')
            .events-item-title Ресторан savva дарит скидку зрителям большого театра
            .events-item-date 27.03.2021
        .col.col__lg-4.col__md-6.col__xs-12.filter__item--js(data-text='dish')
          a.events-item(href='#')
            .events-item-img
              .events-item-line: +img('index/line-3.svg')
              +img('index/event-3.jpg')
            .events-item-title Согревающие коктейли в ресторанах Novikov Group
            .events-item-date 27.03.2021
        .col.col__lg-4.col__md-6.col__xs-12.filter__item--js(data-text='news')
          a.events-item(href='#')
            .events-item-img
              .events-item-line: +img('index/line-1.svg')
              .events-item-logo: +img('index/logo-1.jpg')
              +img('index/event-1.jpg')
            .events-item-title Долгожданная премьера эксклюзивных вин проекта Taste Wine Selection of Fine Wines
            .events-item-date 27.03.2021

    .text--center(data-aos='fade-up')
      a.btn-icon.text--uppercase(href='#')
        span показать еще
        +img('icons/select.svg')

block footer
  include ../partials/_footer.pug
