extends ../layouts/master.pug

block header
  include ../components/_popup
  include ../partials/_header.pug

block pageName
  - pageName = "custom"

block content
  form(action='', method='POST', data-type='container-form')
    include ../components/_cart-block
    main.page-order
      .back-link(data-aos='fade-up')
        a.btn-icon(href='#')
          include ../components/_prev
          span Вернуться
      .m-auto.col__xl-8.col__lg-10(data-aos='fade-up')
        h1.select-wrapper
          +wrapTitle(['оформление', 'заказа'])
        .order-wrapper(data-aos='fade-up')
          .order-wrapper__item.order-wrapper__item--all
            h3 контактные данные
            .form__group: +fieldInput('text', 'name', 'name-o', '', 'ФИО получателя*', true)
            .form__group: +fieldInput('text', 'phone', 'phone-o', '', 'Номер телефона*', true)
            .form__group: +fieldInput('text', 'email', 'email-o', '', 'E–mail*', true)
            .form__group.checkbox
              input(type="checkbox", id='signIt-o', required)
              label(for='signIt-o')
                | Даю согласание на обработку #[a(href='#') персональных данных]
                .control-error
          .order-promo
            .cart-block-img.promo--js Применить карту #[br] лояльности или промокод
          .tab-container.order-wrapper__item.set-tab(data-aos='fade-up')
            .tabs
              .tab.active(data-toggle-target=".tab-content-1"): h3 Доставка
              .tab(data-toggle-target=".tab-content-2"): h3 самовывоз
            .tab-content.tab-content-1.active
              .row.order-wrapper__item
                .col.col__xl-4.col__sm-6.col__xs-6
                  .order-delivery
                    a.btn.btn--default.myModal(href='#') выбрать на карте
                    .input.input-r
                      input.hidden(type='text', required, name='adr')
                      .control-error
                    .order-delivery-adr
                      p
                      a.text__sm.myModal(href='#') Изменить
                .col.col__xl-4.col__sm-6.col__xs-6.short--in
                  +fieldInput('text', 'number', 'number-o', '', 'Номер квартиры', true)
              .control-error
              .order-wrapper__item.order-wrapper__item--date(data-aos='fade-up')
                h3 дата и время доставки
                .order-date.row
                  .col.col__xs-6
                    +fieldInput('text', 'date', 'date-o', '', 'Дата', true)
                  .col.select-wrapper.col__xs-6
                    select.select-template(style='width: 100%')
                      option(value='11') 11:00
                      option(value='12') 12:00
                      option(value='13') 13:00
              .order-wrapper__item.order-wrapper__item--taxi(data-aos='fade-up')
                div На данный адрес доставка возможна через службу такси.
                  br
                  | Узнать стоимость у менеджера: #[a(href='tel:89112862563') 8 911 286-25-63]
              .order-wrapper__item(data-aos='fade-up')
                h3 способ оплаты
                .order-payment
                  .order-payment-not
                    p Для выбора способа оплаты укажите способ доставки
                  .order-payment-fill
                    .radio--inline
                      +fieldRadio('payku', 'payku1', 'Картой онлайн', false)
                      +fieldRadio('payku', 'payku2', 'Наличными курьеру', false)
                    .control-error
            .tab-content.tab-content-2
              .order-wrapper__item(data-aos='fade-up')
                p г. Москва, ул. Петровка, 3/6, стр. 2
              .order-wrapper__item(data-aos='fade-up')
                h3 дата и время доставки
                .row.order-date
                  .col.col__xs-6
                    +fieldInput('text', 'date', 'date-o', '', 'Дата', true)
                  .col.select-wrapper.col__xs-6
                    select.select-template(style='width: 180px')
                      option(value='11') 11:00
                      option(value='12') 12:00
                      option(value='13') 13:00
              .order-wrapper__item(data-aos='fade-up', style='z-index: 0')
                h3 способ оплаты
                .order-payment
                  .radio--inline
                    +fieldRadio('payby', 'payby1', 'Картой онлайн', false)
                    +fieldRadio('payby', 'payby2', 'Картой в ресторане', false)
                    +fieldRadio('payby', 'payby3', 'Наличными в ресторане', false)
                  .control-error
            .text--center.visible__xs.visible__sm
              button.btn.btn--primary(type='submit') перейти к оплате


block footer

