extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block pageName
  - pageName = "custom"

block content
  main.page-page404
    .page-page404-head(data-aos='fade-up') 404
    .page-page404-desc(data-aos='fade-up') Страница не найдена
    .page-page404-btn(data-aos='fade-up')
      +btnLink('Перейти на Главную')
      +btnLink('Перейти в Рестораны')



block footer
  include ../partials/_footer.pug
