extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block pageName
  - pageName = "custom"

block content
  main.page-project
    .m-auto.col__xl-8.col__lg-10(data-aos='fade-up')
      h1.select-wrapper проекты
    .with-aside.with-aside--line
      aside.sidebar(data-aos='fade-up')
        -
          items = [
            'Novikov School',
            'NOVIKOV INTERNATIONAL',
            'Aeromenu by Novikov',
            'NOVIKOV TV',
            'Донна Маргарита',
            'AGRONOM',
            'Taste Wine by Novikov',
            'HOW TO GREEN',
            'How to eat',
            'JUST FOR YOU',
            'СТУДИЯ ЦВЕТОВ 55',
            'NOVIKOV CATERING',
            'GALLERY TO GO',
            'NOVIKOV CATERING AVIATION',
            'Gallery To Fly',
            'Kids club',
            'CHARITY',
          ]

        ul.projectList
          each item, index in items
            - let activeClass = ''
            - if(index == 6) activeClass = 'active'
            li(class=activeClass)
              include ../components/_arr
              a(href='#')= item
            - if(index == 6)
              li.visible__xs.visible__sm
                section.section
                  h2.alpha Taste Wine by Novikov
                  .project-info(data-aos='fade-up')
                    .project-info__item
                      +img('event/logo-2.jpg')
                    .project-info__item
                      div: a(href='tel:84957898652') 8 495 789 86 52
                    .project-info__item
                      div: a(href='#', target="_blank") Instagram
                      div: a(href='#', target="_blank") Facebook
                      div: a(href='#', target="_blank") Telegram
                  .project-desc(data-aos='fade-up')
                    .col__xl-8.col__lg-10
                      h3 Винный клуб Taste Wine by Novikov – уникальный проект Novikov Group, направленный на популяризацию винной культуры, знакомство с новыми трендами винной индустрии, развитие интереса к качественным и недорогим винам.
                      p Название проекта дословно с английского языка – «попробуй вино», продегустируй, узнай его ближе!
                      p Проект запустили в ноябре 2016 года в ресторане Luce, проведя там шикарный ужин «На склонах Тосканы». Прекрасные вина одного из самых знаменитых регионов Италии в сочетании с непревзойденной кухней от шеф-повара ресторана, белые скатерти, красивая сервировка с цветами на столе и душевная атмосфера вечера не оставила никого равнодушным и, благодаря нашему пиару и освещению события о проекте узнали и стали интересоваться.
                      h3 В этом году проекту уже 4 года!
                      p Мы начинали с одного, максимум двух мероприятий в месяц, сегодня наши вечера проходят почти каждую неделю! В этом и наша особенность – у нас столько разных концепций ресторанов, что можно проводить винные вечера хоть каждый день.
                      p Более того, шеф-повара наших ресторанов каждый ужин прорабатывают индивидуально и готовят специальное меню из 4-5 курсов, сочетающихся именно с теми винами, которые мы подобрали на мероприятие.
                      p Различные форматы позволяют нашим гостям выбрать то, что именно им по душе. Это может быть и слепая дегустация разных сортов и винограда, или наоборот – один и тот же сорт, выполненный в разных стилистиках винодельческих регионов всего мира.
                      p Многим интересны образовательные мероприятия с историей виноделия и углублением в процессы производства. В сотрудничестве с нашими партнерами мы привозим владельцев винных домов, виноделов, приглашаем на ужины лучших экспертов винного рынка, выдающихся сомелье.
                      h3 Форматы мероприятий
                      ul.list--bullet.list--bullet--bl
                        li Дегустации с лучшими винными экспертами и сомелье ресторанов Novikov Group
                        li Мастер–классы от мировых виноделов и владельцев винодельческих хозяйств деловые обеды и ужины бизнес-партнеров
                        li Эногастрономические вечера
                        li Обучающие тренинги и презентации по продукции с топовыми бренд-амбассадорами
                        li Винные туры в лучшие винодельческие регионы мира
                      h3 Площадка проведения
                      p Рестораны Novikov Group
                      h3 Исполнительный директор проекта
                      h4 Семен Орехов
                      p Бренд Шеф-Сомелье Novikov Group, исполнительный директор проекта Taste Wine by Novikov.
                      p Семен работает в Novikov Group уже 5 лет и прекрасно понимает специфику наших ресторанов и портрет наших гостей. Его экспертиза и многолетний опыт работы в алкогольном рынке позволили оперативно проработать концепцию проекта. А его регалии и профессиональные заслуги добавляют сейчас легкий шарм и романтизм нашим мероприятиям.
                      p В октябре 2019 Семена Орехова посвятили в Рыцари Португальского ордена «Confraria do Vinho do Portu» за вклад в развитие португальских вин.
                    .slideshow-swiper.swiper-container(data-aos='fade-up')
                      .swiper-section
                        .swiper-buttons
                          .swiper-button-prev: +img('icons/sw-l.svg')
                          .swiper-button-next: +img('icons/sw-r.svg')
                        .swiper-pagination
                      .swiper-wrapper
                        - for (let x = 1; x < 7; x++)
                          .swiper-slide: span: +img('slider.jpg')

      section.section.hidden__sm.hidden__xs(data-aos='fade-up')
        h2.alpha Taste Wine by Novikov
        .project-info(data-aos='fade-up')
          .project-info__item
            +img('event/logo-2.jpg')
          .project-info__item
            div: a(href='tel:84957898652') 8 495 789 86 52
          .project-info__item
            div: a(href='#', target="_blank") Instagram
            div: a(href='#', target="_blank") Facebook
            div: a(href='#', target="_blank") Telegram
        .project-desc(data-aos='fade-up')
          .col__xl-8.col__lg-10
            h3 Винный клуб Taste Wine by Novikov – уникальный проект Novikov Group, направленный на популяризацию винной культуры, знакомство с новыми трендами винной индустрии, развитие интереса к качественным и недорогим винам.
            p Название проекта дословно с английского языка – «попробуй вино», продегустируй, узнай его ближе!
            p Проект запустили в ноябре 2016 года в ресторане Luce, проведя там шикарный ужин «На склонах Тосканы». Прекрасные вина одного из самых знаменитых регионов Италии в сочетании с непревзойденной кухней от шеф-повара ресторана, белые скатерти, красивая сервировка с цветами на столе и душевная атмосфера вечера не оставила никого равнодушным и, благодаря нашему пиару и освещению события о проекте узнали и стали интересоваться.
            h3 В этом году проекту уже 4 года!
            p Мы начинали с одного, максимум двух мероприятий в месяц, сегодня наши вечера проходят почти каждую неделю! В этом и наша особенность – у нас столько разных концепций ресторанов, что можно проводить винные вечера хоть каждый день.
            p Более того, шеф-повара наших ресторанов каждый ужин прорабатывают индивидуально и готовят специальное меню из 4-5 курсов, сочетающихся именно с теми винами, которые мы подобрали на мероприятие.
            p Различные форматы позволяют нашим гостям выбрать то, что именно им по душе. Это может быть и слепая дегустация разных сортов и винограда, или наоборот – один и тот же сорт, выполненный в разных стилистиках винодельческих регионов всего мира.
            p Многим интересны образовательные мероприятия с историей виноделия и углублением в процессы производства. В сотрудничестве с нашими партнерами мы привозим владельцев винных домов, виноделов, приглашаем на ужины лучших экспертов винного рынка, выдающихся сомелье.
            h3 Форматы мероприятий
            ul.list--bullet.list--bullet--bl
              li Дегустации с лучшими винными экспертами и сомелье ресторанов Novikov Group
              li Мастер–классы от мировых виноделов и владельцев винодельческих хозяйств деловые обеды и ужины бизнес-партнеров
              li Эногастрономические вечера
              li Обучающие тренинги и презентации по продукции с топовыми бренд-амбассадорами
              li Винные туры в лучшие винодельческие регионы мира
            h3 Площадка проведения
            p Рестораны Novikov Group
            h3 Исполнительный директор проекта
            h4 Семен Орехов
            p Бренд Шеф-Сомелье Novikov Group, исполнительный директор проекта Taste Wine by Novikov.
            p Семен работает в Novikov Group уже 5 лет и прекрасно понимает специфику наших ресторанов и портрет наших гостей. Его экспертиза и многолетний опыт работы в алкогольном рынке позволили оперативно проработать концепцию проекта. А его регалии и профессиональные заслуги добавляют сейчас легкий шарм и романтизм нашим мероприятиям.
            p В октябре 2019 Семена Орехова посвятили в Рыцари Португальского ордена «Confraria do Vinho do Portu» за вклад в развитие португальских вин.
          .slideshow-swiper.swiper-container(data-aos='fade-up')
            .swiper-section
              .swiper-buttons
                .swiper-button-prev: +img('icons/sw-l.svg')
                .swiper-button-next: +img('icons/sw-r.svg')
              .swiper-pagination
            .swiper-wrapper
              - for (let x = 1; x < 7; x++)
                .swiper-slide: span: +img('slider.jpg')


block footer
  include ../partials/_footer.pug
