extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block pageName
  - pageName = "custom"

block content
  main.page-project
    .m-auto.col__xl-8.col__lg-10(data-aos='fade-up')
      h1.select-wrapper: +wrapTitle(['проекты'])
    .with-aside.with-aside--line
      aside.sidebar(data-sticky-container)
        -
          items = [
            'Novikov School',
            'NOVIKOV INTERNATIONAL',
            'Aeromenu by Novikov',
            'NOVIKOV TV',
            'Донна Маргарита',
            'AGRONOM',
            'Taste Wine by Novikov',
            'HOW TO GREEN',
            'How to eat',
            'JUST FOR YOU',
            'СТУДИЯ ЦВЕТОВ 55',
            'NOVIKOV CATERING',
            'GALLERY TO GO',
            'NOVIKOV CATERING AVIATION',
            'Gallery To Fly',
            'Kids club',
            'CHARITY',
          ]
        .sticky(data-margin-top="100")
          ul.projectList(data-aos='fade-up')
            each item, index in items
              - let activeClass = ''
              - if(index == 0) activeClass = 'active'
              li(class=activeClass)
                include ../components/_arr
                a(href='#')= item
              - if(index == 0)
                li.visible__xs.visible__sm
                  section.section
                    h2.alpha Novikov School
                    .project-info
                      .project-info__item
                        +img('event/logo-1.svg')
                      .project-info__item
                        div Москва, ул. Петровка, 3/6, стр. 2
                        div: a.lead(href='tel:84957898652') 8 495 789 86 52
                        div: a.lead(href='http://www.novikovschool.ru', target="_blank") novikovschool.ru
                      .project-info__item
                        div: a.lead(href='#', target="_blank") Instagram
                        div: a.lead(href='#', target="_blank") Facebook
                        div: a.lead(href='#', target="_blank") Telegram
                    .project-desc
                      .col__xl-8.col__lg-10
                        ul.list--bullet.list--bullet--bl
                          li Кулинарные курсы для любителей и профессионалов
                          li Мастер-классы для взрослых, детей и подростков по разным темам и кухням мира
                          li Школа ресторанного менеджмента, тренинги по сервису для отелей и ресторанов
                      .sw-content
                        .swiper-section
                          include ../components/_sw-arrows
                          .swiper-pagination
                        .slideshow-swiper.swiper-container
                          .swiper-wrapper
                            - for (let x = 1; x < 7; x++)
                              .swiper-slide: span: +img('slider.jpg')

      section.section.hidden__sm.hidden__xs(data-aos='fade-up')
        h2.alpha Novikov School
        .project-info(data-aos='fade-up')
          .project-info__item
            +img('event/logo-1.svg')
          .project-info__item
            div Москва, ул. Петровка, 3/6, стр. 2
            div: a.lead(href='tel:84957898652') 8 495 789 86 52
            div: a.lead(href='http://www.novikovschool.ru', target="_blank") novikovschool.ru
          .project-info__item
            div: a.lead(href='#', target="_blank") Instagram
            div: a.lead(href='#', target="_blank") Facebook
            div: a.lead(href='#', target="_blank") Telegram
        .project-desc(data-aos='fade-up')
          .col__xl-8.col__lg-10
            ul.list--bullet.list--bullet--bl
              li Кулинарные курсы для любителей и профессионалов
              li Мастер-классы для взрослых, детей и подростков по разным темам и кухням мира
              li Школа ресторанного менеджмента, тренинги по сервису для отелей и ресторанов
          .sw-content
            .swiper-section
              include ../components/_sw-arrows
              .swiper-pagination
            .slideshow-swiper.swiper-container.shape(data-aos='fade-up')
              .swiper-wrapper
                - for (let x = 1; x < 7; x++)
                  .swiper-slide: span: +img('slider.jpg')


block footer
  include ../partials/_footer.pug
