extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block pageName
  - pageName = "custom"

block content
  main.page-restaurant
    .m-auto.col__xl-9(data-aos='fade-up')
      h1.select-wrapper
        .wrapTitle(data-aos)
          span.word-wrap: span Рестораны&nbsp;
          span.word-wrap: span в&nbsp;
          span.word-wrap
            div
              select.select-template(style='width: 220px')
                option(value='sochi', selected) Сочи
                option(value='sochi1') Сочи
      .filters(data-aos='fade-up')
        .tab-container.filter
          .tabs
            .tab.active(data-toggle-target=".list") списком
            .tab(data-toggle-target=".map") на карте
        .filter-item.filter-item--main.select-wrapper(data-aos='fade-up')
          select.select-template(style='width: 200px')
            option(value='georgia', selected) Грузинская кухня
            option(value='thai') тайская
            option(value='american') Американская
            option(value='adyghe') Адыгейская
            option(value='europe') европейская
            option(value='asian') азиатская
        .filter-item(data-aos='fade-up')
          .filter-checkbox
            input(type='checkbox' name='delivery' id='delivery')
            label(for='delivery')
              include ../components/_arr
              span есть Доставка
        .filter-item(data-aos='fade-up')
          .filter-checkbox
            input(type='checkbox' name='hall' id='hall')
            label(for='hall')
              include ../components/_arr
              span Есть банкетный зал
    .tab-content.list.active
      .row
        - for (let y = 1; y < 3; y++)
          .col.col__lg-4.col__md-6.col__xs-12(data-aos='fade-up')
            a.restaurant(href='#')
              .restaurant-img
                .badge
                  +img('icons/new-badge.svg')
                  +img('icons/soon-badge.svg')
                +img('index/slide-1.jpg')
                .logo: +img('index/logo-1.jpg')
              .restaurant-desc
                h3 Nino
                .inner
                  ul.list--bullet
                    li Доставка
                    li банкет
                  .list
                    .title кухни
                    .text
                      div грузинская
          .col.col__lg-4.col__md-6.col__xs-12(data-aos='fade-up')
            a.restaurant(href='#')
              .restaurant-img
                .badge
                  +img('icons/new-badge.svg')
                  +img('icons/soon-badge.svg')
                +img('index/slide-2.jpg')
                .logo: +img('index/logo-2.jpg')
              .restaurant-desc
                h3 СЫРОВАРНЯ АЛЬМЕТЬЕВСК
                .inner
                  ul.list--bullet
                    li банкет
                  .list
                    .title кухни
                    .text
                      div Адыгейская
                      div Американская
          .col.col__lg-4.col__md-6.col__xs-12(data-aos='fade-up')
            a.restaurant(href='#')
              .restaurant-img
                .badge
                  +img('icons/new-badge.svg')
                +img('index/slide-3.jpg')
              .restaurant-desc
                h3 aqua
                .inner
                  ul.list--bullet
                  .list
                    .title кухни
                    .text
                      div азиатская
                      div европейская
          .col.col__lg-4.col__md-6.col__xs-12(data-aos='fade-up')
            a.restaurant(href='#')
              .restaurant-img
                .badge
                  +img('icons/soon-badge.svg')
                +img('index/slide-4.jpg')
              .restaurant-desc
                h3 КЛЁВО НА УСАЧЕВСКОМ
                .inner
                  ul.list--bullet
                    li Доставка
                    li банкет
                  .list
                    .title кухни
                    .text
                      div тайская
                      div Американская
    .tab-content.map
      .map-list(data-aos='fade-up')
        #pvz_map
        .scrollContent.mapList(data-aos='fade-up')
          - for (let x = 1; x < 3; x++)
            .mapList-item.restaurant-desc(data-adr='59.91701049, 30.31812429', id='section1'+x)
              .img: +img('list.jpg')
              h4 СЫРОВАРНЯ АЛЬМЕТЬЕВСК
              .inner
                .list
                  .title кухни
                  .text
                    div Адыгейская
                    div Американская
              a.link(href='#') Перейти в ресторан
            .mapList-item.restaurant-desc(data-adr='59.91756978, 30.31812429', id='section2'+x)
              .img: +img('list.jpg')
              h4 NINO
              .inner
                .list
                  .title кухни
                  .text
                    div грузинская
              a.link(href='#') Перейти в ресторан
            .mapList-item.restaurant-desc(data-adr='59.92049517, 30.33250093', id='section3'+x)
              .img: +img('list.jpg')
              h4 КЛЁВО НА УСАЧЕВСКОМ
              .inner
                .list
                  .title кухни
                  .text
                    div тайская
              a.link(href='#') Перейти в ресторан
            .mapList-item.restaurant-desc(data-adr='59.91701049, 30.3276515', id='section4'+x)
              .img: +img('list.jpg')
              h4 СЫРОВАРНЯ АЛЬМЕТЬЕВСК
              .inner
                .list
                  .title кухни
                  .text
                    div Адыгейская
                    div Американская
              a.link(href='#') Перейти в ресторан
            .mapList-item.restaurant-desc(data-adr='59.91916157, 30.3251195', id='section5'+x)
              .img: +img('list.jpg')
              h4 NINO
              .inner
                .list
                  .title кухни
                  .text
                    div грузинская
              a.link(href='#') Перейти в ресторан

block footer
  include ../partials/_footer.pug
