extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block pageName
  - pageName = "custom"

block content
  main.page-search
    .m-auto.col__xl-8.col__lg-10(data-aos='fade-up')
      h1.select-wrapper: +wrapTitle(['Результаты', 'поиска'])
      form(action='', method='POST')
        .search-input
          input.control(type='text', value='ресторан')
          button(type='submit')
            +img('icons/search.svg')
      .text__lg(data-aos='fade-up') По вашему запросу ничего не найдено



block footer
  include ../partials/_footer.pug
