.cart-popup
  .cart-popup__inner
    p Все ранее выбранные продукты будут удалены из корзины. Продолжить?
    .row.center__xs
      .col: a.btn.btn--info.cart-popup-close__js(href='#') Отмена
      .col: a.btn.btn--primary.cart-popup-close__js(href='#') Да
