nav.navbar
  button.header-menu--js.btn.btn-icon.btn--default.ui-button-circle-icon
    +img('icons/cross.svg')
    span.ui-button-circle-icon__label-wr(data-text='Меню')
      span.ui-button-circle-icon__label Меню
  +menu(menu)
