.vacancy-block
  .close.hr-block--js
    svg(width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg")
      rect(width="80" height="80" fill="black")
      rect(x="28" y="28.9426" width="1.33333" height="33.3333" transform="rotate(-45 28 28.9426)" fill="white")
      rect(x="51.5703" y="28" width="1.33333" height="33.3333" transform="rotate(45 51.5703 28)" fill="white")
  h3 откликнуться на вакансию
  .form-main
    form(method='POST', action='')
      .form__group: +fieldInput('text', 'name', 'name-v', '', 'Имя*', true)
      .form__group: +fieldInput('text', 'phone', 'phone-v', '', 'Номер телефона', false)
      .form__group: +fieldInput('email', 'email', 'email-v', '', 'E–mail*', true)
      .form__group: +fieldTextarea('desc', 'desc-v', 'Небольшой рассказ о себе', '', '5', false)
      .input__file-body.form__group
        .input__file
          input.input__file-js(type='file', name='file')
          .input__text-js Прикрепить файл
        .input__file-close
          svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
            rect(y="0.942871" width="1.33333" height="33.3333" transform="rotate(-45 0 0.942871)" fill="black")
            rect(x="23.5703" width="1.33333" height="33.3333" transform="rotate(45 23.5703 0)" fill="black")
      .mt-auto
        .form__group.checkbox
          input(type="checkbox", id='signIt', required)
          label(for='signIt')
            | Даю согласание на обработку #[a(href='#') персональных данных]
            .control-error
        .form--js: +btnLink('Отправить')
  // этому классу добавить .active если форма будет успешно отправлена
  .form-back
    h3 заявка отправлена
    p.text__md Мы получили вашу заявку. Наш специалист свяжется с вами в ближайшее время.
